# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
ENV/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Logs & temp files
# ======================
*.log
*.tmp
*.swp
.DS_Store

# ======================
# Data files (IMPORTANT)
# ======================
*.json
*.parquet
*.csv
*.avro
*.orc

# ======================
# Docker
# ======================
*.env
docker-compose.override.yml

# ======================
# IDE
# ======================
.vscode/
.idea/
*.iml

# ======================
# OS
# ======================
Thumbs.db
