# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
ENV/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Logs & temp files
# ======================
*.log
*.tmp
*.swp
.DS_Store

# ======================
# Docker
# ======================
.env
docker-compose.override.yml

# ======================
# IDE
# ======================
.vscode/
.idea/
*.iml

# ======================
# OS
# ======================
Thumbs.db

# ======================
# Node.js
# ======================
node_modules/
dist/
npm-debug.log
yarn-error.log


